.nav {
  position: fixed;
  /* position: fixed를 사용할 때는 width! 줘야 한다. 
    fixed는 element를 기존 다른 것들에서부터 떼어내서 다른 레이어에 올려놓아야 해서
    width~ 필요
  */
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
  /* position: relative가 아니면 nav__badge는 body를 부모로 잡기 때문에 이상한 
    위치에 자리 잡게 된다~~
    body에 대해서 absolute를 잡게 되기 때문이다
  */
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 10px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}
